.create_new_client_form_wrapper {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: table;
  max-width: 662px;
  width: 100%;

  label {
    margin: 0;
    font-size: 16px;
    color: #002D74;
  }

  input {
    border-radius: 5px;
    height: 40px;
    border: none;
    font-size: 14px;
    font-weight: 300;
  }

  button {
    background: #FFF;
    color: @blue-gray;
    border: 1px solid transparent;
    font-size: 14px;
    padding: 5px 20px;
    margin-bottom: 10px;
  }

  button:hover {
    background-color: #002D74;
    color: #FFF;
    border: 1px solid transparent;
    margin-bottom: 10px;
  }

  button:focus {
    background-color: #002D74;
    color: #FFF;
    border: 1px solid transparent;
    margin-bottom: 10px;
  }

  :global(.ant-select-selection) {
    background: #fff;
    border: none;
    height: 40px;
    line-height: 40px;
  }
  &:global(.ant-select-open .ant-select-selection) {
    background: #fff;
  }
  :global(.ant-select-selection__rendered) {
    line-height: 40px;
    font-size: 14px;
  }
  :global(.ant-select-selection__placeholder) {
    color: @text-color-all;
    font-size: 14px;
    font-weight: 300;
  }
}

.save_new_client[disabled],
.save_new_client[disabled]:hover {
  background-color: #FFF;
  border: none;
}