@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
//nexus.ql2.com/repository/npm-group/:_authToken=NpmToken.c7c35c71-1d0e-33d8-929f-01ded6058424
//nexus.ql2.com/repository/internal-npm/:_authToken=NpmToken.87692510-d157-3edd-abcc-3a59bbd226f1
