.topInfoBox {
    width: 200px;
    padding: 0px;
    border-radius: 7px;
    line-height: 12px;
    font-size: 10px;
  }
  .infoicons {
    float: right;
    margin: -2px 10px 0px 0px;
    font-size: 14px;
    color: #707683;
  }
  // .boxWidth100{
  //   padding-top: 0 !important;
  //   > span{
  //     display: block;
  //     float: left;
  //     margin-right: 20px;
  //   }
  //   h4{
  //     margin: 5px;
  //     float: left;
  //   }
    
  // }
  .description_list {
    display: flex;
    margin-bottom: 0px;
    dd + dt {
      margin-left: 13px;
      margin-bottom: 0px;
    }
  
    dt {
      font-weight: 600;
      color: @blue;
    }
  
    dd {
      margin-left: 5px;
    }
  }
  .progressbar{
    width: 200px;
    float: left;
  }
// .boxResultPage{
//   margin: 0px;
//   padding: 0px;
//   width: 100%;
//   font-size: 14px;
//   .boxResultPage2{
//     margin: 0px;
//   padding: 0px;
//   width: 100%;
//   float: left;
//   }
//   .boxResultPage3{
//     width: 100%;
//   }
//   .boxWidth50{
//     margin:0px 5px; 
//     width:calc(50% - 10px); 
//     float:left;
//   }
//   .boxWidthQuality100{
//     margin: 0px;
//     padding: 10px 0px;
//     width: 100%;
//     float: left;
//     border-bottom:1px solid #C4C4C4;
//   }

  
  
// }
// .downloadicons{
//   border-bottom:1px solid #DDD;
//   display:table;
//   width:90%;
//   margin:0px auto;
//   color:@blue-gray;
//   font-size: 12px;
//   line-height: 32px;
// }
// .eyeicons{
//   border-bottom:1px solid #DDD;
//   display:table;
//   width:90%;
//   margin:0px auto;
//   color:@blue-gray;
//   font-size: 12px;
//   line-height: 32px;
// }
// .syncicons{
//   display:table;
//   width:90%;
//   margin:0px auto;
//   color:@blue-gray;
//   font-size: 12px;
//   line-height: 32px;
// }
// .maxWidth{
//   width: 586px;
//   text-overflow: ellipsis;
//   overflow: hidden;
// }